.contactsBlock{
    height: 50vh;
    background-color: #ff4848;
    /*border-radius: 1px solid red;*/
    border: 1px solid red;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}


.inputContainer input{
   margin: 10px 0 ;
}
.containerBlock{
margin-left:  auto;
    margin-right: auto;
}
